h1{
    text-align: center;
    color: white;
    line-height: 50px;
}
h1.dev{
    color: rebeccapurple;
}
h1.tic{
    font-family : "Sans Serif Collection",serif;
    font-size:35px;
    font-style:normal;
    color: dimgray;

}
body {
    font-family:"Comic Sans MS", serif;
    font-size:13px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.7em;
    background-image:url('https://www.geocities.ws/ratusnorvegicus/bats.gif');

}
img{
    display: block;
    margin: auto;
    width:500px;
    height:650px;
}

p {
    text-align: center;
    font-size: 5px;
    color:#36013F;
}